This is the Jupyter notebook for Chapter 3 of [*Think Python*, 3rd edition](https://greenteapress.com/wp/think-python-3rd-edition), by Allen B. Downey.


**Before you start**. Save a copy of this notebook in your Google Drive (File -> Save a copy in Drive) and run this cell to download the scripts required for this chapter.

In [ ]:
from os.path import basename, exists

def download(url):
    filename = basename(url)
    if not exists(filename):
        from urllib.request import urlretrieve

        local, _ = urlretrieve(url, filename)
        print("Downloaded " + str(local))
    return filename

download('https://github.com/AllenDowney/ThinkPython/raw/v3/thinkpython.py');
download('https://github.com/AllenDowney/ThinkPython/raw/v3/diagram.py');

import thinkpython

# Functions

In this chapter, you will learn how to create your own functions and run them.
And we'll see how one function can call another.

As examples, we'll display lyrics from songs by the Imagine Dragons.

## Defining new functions

A **function definition** specifies the name of a new function and the sequence of statements that run when the function is called. Here's an example taken from the the chorus of [Radioactive](https://youtu.be/ktvTqknDobU?si=3UP4mKl4GL0eTnGk):

In [ ]:
def print_chorus():
    print("I'm waking up, I feel it in my bones")
    print("Enough to make my systems blow")
    print("Welcome to the new age, to the new age")
    print("Welcome to the new age, to the new age")
    print("Whoa")
    print("oh, oh, oh, oh")
    print("Whoa")
    print("oh, oh, oh, oh")
    print("I'm radioactive, radioactive")
    print("Whoa")
    print("oh, oh, oh, oh")
    print("Whoa")
    print("oh, oh, oh, oh")
    print("I'm radioactive, radioactive")

`def` is a keyword that indicates that this is a function definition.

The name of the function is `print_chorus`.

Anything that's a legal variable name is also a legal function name.

The empty parentheses after the name indicate that this function doesn't take any arguments.

The first line of the function definition is called the **header** -- the rest is called the **body**.

The header has to end with a colon and the body has to be ***indented***. By convention, indentation is always four spaces.

The body of this function is two print statements; in general, the body of a function can contain any number of statements of any kind.

#### Run print_chorus


Now that we've defined a function, we can call it the same way we call  built-in functions.

In [ ]:
print_chorus()

When the function runs, it executes the statements in the body, which display the chorus of the song.

## Parameters

Some of the functions we have seen require arguments; for example, when you call `abs` you pass a number as an argument.
Some functions take more than one argument; for example, `math.pow` takes two, the base and the exponent.

Here is a definition for a function that takes an argument.

In [ ]:
def print_twice(text):
    print(text)
    print(text)

The variable name in parentheses is a **parameter**.
When the function is called, the value of the argument is assigned to the parameter.
For example, we can call `print_twice` like this.

In [ ]:
print_twice("Welcome to the new age, to the new age")

You can also use a variable as an argument.

In [ ]:
line = "Welcome to the new age, to the new age"
print_twice(line)

In this example, the value of `line` gets assigned to the parameter `string`.

**Note that** the variable names do not affect the behaviour of the function.

For example, we can pass an integer number as an argument (instead of a string) of the `print_twice()` and get the same behaviour, i.e. the argument is printed twice.

In [ ]:
print_twice(10)

## Calling functions

Once you have defined a function, you can use it inside another function.

In general, **you can put any kind of statement in the body of the function**.

We'll start with the following function, which takes two parameters.

In [ ]:
def repeat(word, n):
    print(word * n)

We can use this function to print the first line of the song, like this.

In [ ]:
oh = 'oh, '
repeat(oh, 4)

In [ ]:
repeat(4,2)

In [ ]:
repeat("4",2)

## Arguments

When you call a function, the expression in parenthesis is called an **argument**.

Some of the functions we've seen so far take only one argument, like `int`.

In [ ]:
int('101')

Some take two, like `math.pow`.

In [ ]:
repeat("oh ", 2)

Some can take additional arguments that are optional.
For example, `int` can take a second argument that specifies the base of the number.

In [ ]:
int('101', 2)

The sequence of digits `101` in base 2 represents the number 5 in base 10.

`round` also takes an optional second argument, which is the number of decimal places to round off to.

In [ ]:
round(3.1415, 3)

Some functions can take any number of arguments, like `print`.

In [ ]:
print('Any', 'number', 'of', 'arguments')

In [ ]:
print('Any', 'number', 'of', 'arguments', "this is the fifth argument")

In [ ]:
print()

If you call a function and provide too many arguments, that's a `TypeError`.

In [ ]:
%%expect TypeError

float('123.0', 2)

If you provide too few arguments, that's also a `TypeError`.

In [ ]:
%%expect TypeError

abs()

## Repetition

In general, functions are useful since they give a name to a code block and this code block can be used multiple times in the program.

There is another way to repeat the same sequence of instructions multiple times.

This can be done by using a `for` statement.

Here's a simple example.

In [ ]:
for i in range(2):
    print(i)

The first line is a header that ends with a colon.

The second line is the body, which has to be indented.

The header starts with the keyword `for`, a new variable named `i`, and another keyword, `in`.

It uses the `range` function to create a sequence of two values, which are `0` and `1`.

In Python (as in most of the programming languages), when we start counting, we usually start from `0`.

When the `for` statement runs, it assigns the first value from `range` to `i` and then runs the `print` function in the body, which displays `0`.

When it gets to the end of the body, it loops back around to the header, which is why this statement is called a **loop**.

The second time through the loop, it assigns the next value from `range` to `i`, and displays it.

Then, because that's the last value from `range`, the loop ends.

In [ ]:
for i in range(3):
    print(i)

In [ ]:
for number in range(2):
    print(number)

In [ ]:
for number in range(2):
    print(number)
    print(number + 10)

## Variables and parameters are local

When you create a variable inside a function, it is **local**, which
means that it only exists inside the function.
For example, the following function takes two arguments, concatenates them, and prints the result twice.

In [ ]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print_twice(cat)

Here's an example that uses it:

In [ ]:
line1 = 'Always look on the '
line2 = 'bright side of life.'
cat_twice(line1, line2)

In [ ]:
cat_twice(1,2)

When `cat_twice` runs, it creates a local variable named `cat`, which is destroyed when the function ends.
If we try to display it, we get a `NameError`:

In [ ]:
%%expect NameError

print(cat)

In [ ]:
%%expect NameError

print(part1)

In [ ]:
%%expect NameError

print(part2)

Outside of the function, `cat` is not defined.

Parameters are also local.
For example, outside `cat_twice`, there is no such thing as `part1` or `part2`.

## Return Values

In previous chapters, we've used built-in functions -- like `abs` and `round` -- and functions in the math module -- like `sqrt` and `pow`.
When you call one of these functions, it returns a value you can assign to a variable or use as part of an expression.

The functions we have written so far are different.
Some use the `print` function to display values, and some use turtle functions to draw figures.
But they don't return values we assign to variables or use in expressions.

We'll now see how to write functions that return values.

## Some functions have return values

When you call a function like `math.sqrt`, the result is called a **return value**.
If the function call appears at the end of a cell, Jupyter displays the return value immediately.

In [ ]:
import math

math.sqrt(42 / math.pi)

If you assign the return value to a variable, it doesn't get displayed.

In [ ]:
radius = math.sqrt(42 / math.pi)

But you can display it later.

In [ ]:
radius

Or you can use the return value as part of an expression.

In [ ]:
radius + math.sqrt(42 / math.pi)

Here's an example of a function that returns a value.

In [ ]:
def circle_area(radius):
    area = math.pi * radius**2
    return area

`circle_area` takes `radius` as a parameter and computes the area of a circle with that radius.

The last line is a `return` statement that returns the value of `area`.

If we call the function like this, Jupyter displays the return value.

In [ ]:
circle_area(radius)

We can assign the return value to a variable.

In [ ]:
a = circle_area(radius)

Or use it as part of an expression.

In [ ]:
circle_area(radius) + 2 * circle_area(radius / 2)

Later we can display the value of the variable we assigned the result to.

In [ ]:
a

But we can't access `area`.

In [ ]:
%%expect NameError

area

`area` is a local variable in a function, so we can't access it from outside the function.

## And some have None

If a function doesn't have a `return` statement, it returns `None`, which is a special value like `True` and `False`.
For example, here's the `repeat` function from Chapter 3.

In [ ]:
def repeat(word, n):
    print(word * n)

If we call it like this, it displays the first line of the Monty Python song "Finland".

In [ ]:
repeat('Finland, ', 3)

This function uses the `print` function to display a string, but it does not use a `return` statement to return a value.
If we assign the result to a variable, it displays the string anyway.

In [ ]:
result = repeat('Finland, ', 3)

And if we display the value of the variable, we get nothing.

In [ ]:
result

`result` actually has a value, but Jupyter doesn't show it.
However, we can display it like this.

In [ ]:
print(result)

The return value from `repeat` is `None`.

Now here's a function similar to `repeat` except that has a return value.

In [ ]:
def repeat_string(word, n):
    return word * n

Notice that we can use an expression in a `return` statement, not just a variable.

With this version, we can assign the result to a variable.
When the function runs, it doesn't display anything.

In [ ]:
line = repeat_string('Spam, ', 4)

But later we can display the value assigned to `line`.

In [ ]:
line

A function like this is called a **pure function** because it doesn't display anything or have any other effect -- other than returning a value.

## Tracebacks

When a runtime error occurs in a function, Python displays the name of the function that was running, the name of the function that called it, and so on, up the stack.

To see an example, I'll define a version of `print_twice` that contains an error -- it tries to print `cat`, which is a local variable in another function.

In [ ]:
def print_twice(string):
    print(cat)            # NameError
    print(cat)

Now here's what happens when we run `cat_twice`.

In [ ]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs, including a traceback.

%xmode Verbose

In [ ]:
%%expect NameError

cat_twice(line1, line2)

The error message includes a **traceback**, which shows the function that was running when the error occurred, the function that called it, and so on.

In this example, it shows that `cat_twice` called `print_twice`, and the error occurred in a `print_twice`.

## Debugging

**Debugging**  is the process of finding the root cause of programm errors (bugs) and devising possible fixes for bugs.

Debugging can be frustrating, but it is also challenging, interesting, and sometimes even fun.

It is <u>***one of the most important skills you can learn***</u>.

Debugging is also like experimental science.

Once you have an idea about what is going wrong, you **modify your program** and **try again**.

If your hypothesis was **correct**, you can predict the result of the **modification**, and you take a step closer to a working program.

If your hypothesis was wrong, you have to come up with a new one.

## Why functions?

It may not be clear yet why it is worth the trouble to divide a program into
functions.
There are several reasons:

-   Creating a new function gives you an opportunity to **name a group of
    statements**, which makes your program **easier to read and debug**.

-   Functions can **make a program smaller** by eliminating repetitive code.
    Later, if you make a change, you only have to make it in one place.

-   Dividing a long program into functions allows you to **debug the parts
    one at a time** and then assemble them into a working whole.

-   Well-designed **functions are often useful for many programs**. Once you
    write and debug one, you can **reuse** it.

## Glossary

**function definition:**
A statement that creates a function.

**header:**
 The first line of a function definition.

**body:**
 The sequence of statements inside a function definition.

**function object:**
A value created by a function definition.
The name of the function is a variable that refers to a function object.

**parameter:**
 A name used inside a function to refer to the value passed as an argument.

**loop:**
 A statement that runs one or more statements, often repeatedly.

**local variable:**
A variable defined inside a function, and which can only be accessed inside the function.

**stack diagram:**
A graphical representation of a stack of functions, their variables, and the values they refer to.

**frame:**
 A box in a stack diagram that represents a function call.
 It contains the local variables and parameters of the function.

**traceback:**
 A list of the functions that are executing, printed when an exception occurs.

## Exercises

In [ ]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

### Exercise

Write a function named `print_right` that takes a string named `text` as a parameter and prints the string with enough leading spaces that the last letter of the string is in the 40th column of the display.

In [ ]:
# Solution goes here
def print_right(text):
  b = 40 - len(text)
  print(" "*b + text)
  #print(text)

In [ ]:
# Solution goes here
def print_right(text):
  b = 40 - len(text)
  for i in range(b):
    print(" ", end="")
  print(text)
  #print(text)

Hint: Use the `len` function, the string concatenation operator (`+`) and the string repetition operator (`*`).

Here's an example that shows how it should work.

In [ ]:
print_right("Monty")
print_right("Python's")
print_right("Flying Circus")

which should print

```
                                   Monty
                                Python's
                           Flying Circus
```

### Exercise

Write a function called `triangle` that takes a string and an integer and draws a triangle with a given height, made up using copies of the string. Here's an example of a pyramid with `5` levels, using the string `'L'`.


```
L
LL
LLL
LLLL
LLLLL
```

In [ ]:
# Solution goes here
def triangle(block, height):
  for i in range(height):
    print(block * (i +1) )

In [ ]:
triangle('L', 10)

which should print:

```
L
LL
LLL
LLLL
LLLLL
```

### Exercise

Write a function called `rectangle` that takes a string and two integers and draws a rectangle with the given width and height, made up using copies of the string. Here's an example of a rectangle with width `5` and height `4`, made up of the string `'H'`.

In [ ]:
# Solution goes here
# Solution goes here
def rectangle(word, n, altezza):
  for i in range(altezza):
    print(word * n)
    #repeat(word, n)

In [ ]:
rectangle('H', 5, 4)

which should print

```
HHHHH
HHHHH
HHHHH
HHHHH
```

### Exercise

The song "99 Bottles of Beer" starts with this verse:

> 99 bottles of beer on the wall  
> 99 bottles of beer  
> Take one down, pass it around  
> 98 bottles of beer on the wall  

Then the second verse is the same, except that it starts with 98 bottles and ends with 97. The song continues -- for a very long time -- until there are 0 bottles of beer.

Write a function called `bottle_verse` that takes a number as a parameter and displays the verse that starts with the given number of bottles.

Hint: Consider starting with a function that can print the first, second, or last line of the verse, and then use it to write `bottle_verse`.

In [ ]:
# Solution goes here
# Solution goes here
def bottle_verse(n):
  print(str(n)+" bottles of beer on the wall")
  print(str(n)+" bottles of beer")
  print("Take one down, pass it around")
  print(str(n -1 )+" bottles of beer on the wall")
  print()

In [ ]:
# Solution goes here

Use this function call to display the first verse.

In [ ]:
bottle_verse(99)

which should print

```
99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall
```

If you want to print the whole song, you can use this `for` loop, which counts down from `99` to `1`.
You don't have to completely understand this example---we'll learn more about `for` loops and the `range` function later.

In [ ]:
for n in range(99, 0, -1):
    bottle_verse(n)
    print()

which should print

```
99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall

98 bottles of beer on the wall
98 bottles of beer
Take one down, pass it around
97 bottles of beer on the wall

97 bottles of beer on the wall
97 bottles of beer
Take one down, pass it around
96 bottles of beer on the wall

96 bottles of beer on the wall
96 bottles of beer
Take one down, pass it around
95 bottles of beer on the wall

95 bottles of beer on the wall
95 bottles of beer
Take one down, pass it around
94 bottles of beer on the wall

94 bottles of beer on the wall
94 bottles of beer
Take one down, pass it around
93 bottles of beer on the wall

93 bottles of beer on the wall
93 bottles of beer
Take one down, pass it around
92 bottles of beer on the wall

92 bottles of beer on the wall
92 bottles of beer
Take one down, pass it around
91 bottles of beer on the wall

91 bottles of beer on the wall
91 bottles of beer
Take one down, pass it around
90 bottles of beer on the wall

90 bottles of beer on the wall
90 bottles of beer
Take one down, pass it around
89 bottles of beer on the wall

89 bottles of beer on the wall
89 bottles of beer
Take one down, pass it around
88 bottles of beer on the wall

88 bottles of beer on the wall
88 bottles of beer
Take one down, pass it around
87 bottles of beer on the wall

87 bottles of beer on the wall
87 bottles of beer
Take one down, pass it around
86 bottles of beer on the wall

86 bottles of beer on the wall
86 bottles of beer
Take one down, pass it around
85 bottles of beer on the wall

85 bottles of beer on the wall
85 bottles of beer
Take one down, pass it around
84 bottles of beer on the wall

84 bottles of beer on the wall
84 bottles of beer
Take one down, pass it around
83 bottles of beer on the wall

83 bottles of beer on the wall
83 bottles of beer
Take one down, pass it around
82 bottles of beer on the wall

82 bottles of beer on the wall
82 bottles of beer
Take one down, pass it around
81 bottles of beer on the wall

81 bottles of beer on the wall
81 bottles of beer
Take one down, pass it around
80 bottles of beer on the wall

80 bottles of beer on the wall
80 bottles of beer
Take one down, pass it around
79 bottles of beer on the wall

79 bottles of beer on the wall
79 bottles of beer
Take one down, pass it around
78 bottles of beer on the wall

78 bottles of beer on the wall
78 bottles of beer
Take one down, pass it around
77 bottles of beer on the wall

77 bottles of beer on the wall
77 bottles of beer
Take one down, pass it around
76 bottles of beer on the wall

76 bottles of beer on the wall
76 bottles of beer
Take one down, pass it around
75 bottles of beer on the wall

75 bottles of beer on the wall
75 bottles of beer
Take one down, pass it around
74 bottles of beer on the wall

74 bottles of beer on the wall
74 bottles of beer
Take one down, pass it around
73 bottles of beer on the wall

73 bottles of beer on the wall
73 bottles of beer
Take one down, pass it around
72 bottles of beer on the wall

72 bottles of beer on the wall
72 bottles of beer
Take one down, pass it around
71 bottles of beer on the wall

71 bottles of beer on the wall
71 bottles of beer
Take one down, pass it around
70 bottles of beer on the wall

70 bottles of beer on the wall
70 bottles of beer
Take one down, pass it around
69 bottles of beer on the wall

69 bottles of beer on the wall
69 bottles of beer
Take one down, pass it around
68 bottles of beer on the wall

68 bottles of beer on the wall
68 bottles of beer
Take one down, pass it around
67 bottles of beer on the wall

67 bottles of beer on the wall
67 bottles of beer
Take one down, pass it around
66 bottles of beer on the wall

66 bottles of beer on the wall
66 bottles of beer
Take one down, pass it around
65 bottles of beer on the wall

65 bottles of beer on the wall
65 bottles of beer
Take one down, pass it around
64 bottles of beer on the wall

64 bottles of beer on the wall
64 bottles of beer
Take one down, pass it around
63 bottles of beer on the wall

63 bottles of beer on the wall
63 bottles of beer
Take one down, pass it around
62 bottles of beer on the wall

62 bottles of beer on the wall
62 bottles of beer
Take one down, pass it around
61 bottles of beer on the wall

61 bottles of beer on the wall
61 bottles of beer
Take one down, pass it around
60 bottles of beer on the wall

60 bottles of beer on the wall
60 bottles of beer
Take one down, pass it around
59 bottles of beer on the wall

59 bottles of beer on the wall
59 bottles of beer
Take one down, pass it around
58 bottles of beer on the wall

58 bottles of beer on the wall
58 bottles of beer
Take one down, pass it around
57 bottles of beer on the wall

57 bottles of beer on the wall
57 bottles of beer
Take one down, pass it around
56 bottles of beer on the wall

56 bottles of beer on the wall
56 bottles of beer
Take one down, pass it around
55 bottles of beer on the wall

55 bottles of beer on the wall
55 bottles of beer
Take one down, pass it around
54 bottles of beer on the wall

54 bottles of beer on the wall
54 bottles of beer
Take one down, pass it around
53 bottles of beer on the wall

53 bottles of beer on the wall
53 bottles of beer
Take one down, pass it around
52 bottles of beer on the wall

52 bottles of beer on the wall
52 bottles of beer
Take one down, pass it around
51 bottles of beer on the wall

51 bottles of beer on the wall
51 bottles of beer
Take one down, pass it around
50 bottles of beer on the wall

50 bottles of beer on the wall
50 bottles of beer
Take one down, pass it around
49 bottles of beer on the wall

49 bottles of beer on the wall
49 bottles of beer
Take one down, pass it around
48 bottles of beer on the wall

48 bottles of beer on the wall
48 bottles of beer
Take one down, pass it around
47 bottles of beer on the wall

47 bottles of beer on the wall
47 bottles of beer
Take one down, pass it around
46 bottles of beer on the wall

46 bottles of beer on the wall
46 bottles of beer
Take one down, pass it around
45 bottles of beer on the wall

45 bottles of beer on the wall
45 bottles of beer
Take one down, pass it around
44 bottles of beer on the wall

44 bottles of beer on the wall
44 bottles of beer
Take one down, pass it around
43 bottles of beer on the wall

43 bottles of beer on the wall
43 bottles of beer
Take one down, pass it around
42 bottles of beer on the wall

42 bottles of beer on the wall
42 bottles of beer
Take one down, pass it around
41 bottles of beer on the wall

41 bottles of beer on the wall
41 bottles of beer
Take one down, pass it around
40 bottles of beer on the wall

40 bottles of beer on the wall
40 bottles of beer
Take one down, pass it around
39 bottles of beer on the wall

39 bottles of beer on the wall
39 bottles of beer
Take one down, pass it around
38 bottles of beer on the wall

38 bottles of beer on the wall
38 bottles of beer
Take one down, pass it around
37 bottles of beer on the wall

37 bottles of beer on the wall
37 bottles of beer
Take one down, pass it around
36 bottles of beer on the wall

36 bottles of beer on the wall
36 bottles of beer
Take one down, pass it around
35 bottles of beer on the wall

35 bottles of beer on the wall
35 bottles of beer
Take one down, pass it around
34 bottles of beer on the wall

34 bottles of beer on the wall
34 bottles of beer
Take one down, pass it around
33 bottles of beer on the wall

33 bottles of beer on the wall
33 bottles of beer
Take one down, pass it around
32 bottles of beer on the wall

32 bottles of beer on the wall
32 bottles of beer
Take one down, pass it around
31 bottles of beer on the wall

31 bottles of beer on the wall
31 bottles of beer
Take one down, pass it around
30 bottles of beer on the wall

30 bottles of beer on the wall
30 bottles of beer
Take one down, pass it around
29 bottles of beer on the wall

29 bottles of beer on the wall
29 bottles of beer
Take one down, pass it around
28 bottles of beer on the wall

28 bottles of beer on the wall
28 bottles of beer
Take one down, pass it around
27 bottles of beer on the wall

27 bottles of beer on the wall
27 bottles of beer
Take one down, pass it around
26 bottles of beer on the wall

26 bottles of beer on the wall
26 bottles of beer
Take one down, pass it around
25 bottles of beer on the wall

25 bottles of beer on the wall
25 bottles of beer
Take one down, pass it around
24 bottles of beer on the wall

24 bottles of beer on the wall
24 bottles of beer
Take one down, pass it around
23 bottles of beer on the wall

23 bottles of beer on the wall
23 bottles of beer
Take one down, pass it around
22 bottles of beer on the wall

22 bottles of beer on the wall
22 bottles of beer
Take one down, pass it around
21 bottles of beer on the wall

21 bottles of beer on the wall
21 bottles of beer
Take one down, pass it around
20 bottles of beer on the wall

20 bottles of beer on the wall
20 bottles of beer
Take one down, pass it around
19 bottles of beer on the wall

19 bottles of beer on the wall
19 bottles of beer
Take one down, pass it around
18 bottles of beer on the wall

18 bottles of beer on the wall
18 bottles of beer
Take one down, pass it around
17 bottles of beer on the wall

17 bottles of beer on the wall
17 bottles of beer
Take one down, pass it around
16 bottles of beer on the wall

16 bottles of beer on the wall
16 bottles of beer
Take one down, pass it around
15 bottles of beer on the wall

15 bottles of beer on the wall
15 bottles of beer
Take one down, pass it around
14 bottles of beer on the wall

14 bottles of beer on the wall
14 bottles of beer
Take one down, pass it around
13 bottles of beer on the wall

13 bottles of beer on the wall
13 bottles of beer
Take one down, pass it around
12 bottles of beer on the wall

12 bottles of beer on the wall
12 bottles of beer
Take one down, pass it around
11 bottles of beer on the wall

11 bottles of beer on the wall
11 bottles of beer
Take one down, pass it around
10 bottles of beer on the wall

10 bottles of beer on the wall
10 bottles of beer
Take one down, pass it around
9 bottles of beer on the wall

9 bottles of beer on the wall
9 bottles of beer
Take one down, pass it around
8 bottles of beer on the wall

8 bottles of beer on the wall
8 bottles of beer
Take one down, pass it around
7 bottles of beer on the wall

7 bottles of beer on the wall
7 bottles of beer
Take one down, pass it around
6 bottles of beer on the wall

6 bottles of beer on the wall
6 bottles of beer
Take one down, pass it around
5 bottles of beer on the wall

5 bottles of beer on the wall
5 bottles of beer
Take one down, pass it around
4 bottles of beer on the wall

4 bottles of beer on the wall
4 bottles of beer
Take one down, pass it around
3 bottles of beer on the wall

3 bottles of beer on the wall
3 bottles of beer
Take one down, pass it around
2 bottles of beer on the wall

2 bottles of beer on the wall
2 bottles of beer
Take one down, pass it around
1 bottles of beer on the wall

1 bottles of beer on the wall
1 bottles of beer
Take one down, pass it around
0 bottles of beer on the wall
...

### Exercise

Write a boolean function, `is_between(x, y, z)`, that returns `True` if $x < y < z$ or if 
$z < y < x$, and`False` otherwise.

In [ ]:
# Solution goes here

You can use these examples to test your function.

In [ ]:
is_between(1, 2, 3)  # should be True

In [ ]:
is_between(3, 2, 1)  # should be True

In [ ]:
is_between(1, 3, 2)  # should be False

In [ ]:
is_between(2, 3, 1)  # should be False

### Exercise

The Ackermann function, $A(m, n)$, is defined:

$$\begin{aligned}
A(m, n) = \begin{cases} 
              n+1 & \mbox{if } m = 0 \\ 
        A(m-1, 1) & \mbox{if } m > 0 \mbox{ and } n = 0 \\ 
A(m-1, A(m, n-1)) & \mbox{if } m > 0 \mbox{ and } n > 0.
\end{cases} 
\end{aligned}$$ 

Write a function named `ackermann` that evaluates the Ackermann function.
What happens if you call `ackermann(5, 5)`?

In [ ]:
# Solution goes here

You can use these examples to test your function.

In [ ]:
ackermann(3, 2)  # should be 29

In [ ]:
ackermann(3, 3)  # should be 61

In [ ]:
ackermann(3, 4)  # should be 125

If you call this function with values bigger than 4, you get a `RecursionError`.

In [ ]:
%%expect RecursionError

ackermann(5, 5)

To see why, add a print statement to the beginning of the function to display the values of the parameters, and then run the examples again.

### Exercise

A number, $a$, is a power of $b$ if it is divisible by $b$ and $a/b$ is
a power of $b$. Write a function called `is_power` that takes parameters
`a` and `b` and returns `True` if `a` is a power of `b`. Note: you will
have to think about the base case.

In [ ]:
# Solution goes here

You can use these examples to test your function.

In [ ]:
is_power(65536, 2)   # should be True

In [ ]:
is_power(27, 3)  # should be True

In [ ]:
is_power(24, 2)  # should be False

In [ ]:
is_power(1, 17)   # should be True

### Exercise

The greatest common divisor (GCD) of $a$ and $b$ is the largest number
that divides both of them with no remainder.

One way to find the GCD of two numbers is based on the observation that
if $r$ is the remainder when $a$ is divided by $b$, then $gcd(a,
b) = gcd(b, r)$. As a base case, we can use $gcd(a, 0) = a$.

Write a function called `gcd` that takes parameters `a` and `b` and
returns their greatest common divisor.

In [ ]:
# Solution goes here

You can use these examples to test your function.

In [ ]:
gcd(12, 8)    # should be 4

In [ ]:
gcd(13, 17)   # should be 1

[Think Python: 3rd Edition](https://allendowney.github.io/ThinkPython/index.html)

Copyright 2024 [Allen B. Downey](https://allendowney.com)

Code license: [MIT License](https://mit-license.org/)

Text license: [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-nc-sa/4.0/)